{#
/**
 * @file
 * Default theme implementation for displaying a view as a graph.
 *
 * This template exists only for consistency with core Views styles; it's only
 * a wrapper for the graph template.
 *
 * Available variables:
 *  - graph: The rendered graph.
 */
 #}

{{graph}}
