{#
/**
 * @file
 * Default theme implementation for a graph element.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing DIV element.
 * - content: The graph content. IMG tags are allowed.
 *   @todo: Make allowed tags configurable by the graph format.
 */
#}
<div {{attributes}}>
  {{content|striptags('<img>')|raw}}
</div>
